<% layout('boilers/headers') %>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Email Verification</h4>
    <p>Mail Sent.</p>
    <hr>
    <p class="mb-0">Mail has been sent to <%= user.email %> go and check your Inbox.</p>
</div>