<% layout('boilers/headers') %>

<div class="col-6 offset-3 mt-5">
    <h1>Change password</h1>
    <form action="/user/changepassword/<%= token %>" method="post">
        <div class="mb-3">
            <label class="form-label" for="password">New Password</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Confirm Password</label>
            <input class="form-control" type="password" id="password" name="confirmpassword">
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Change</button>
        </div>
    </form>
</div>

<script>
    let token = '<%= token %>'
    document.querySelector('form')
        .addEventListener('sumbit', function(e){
            if(!(e.target.password.value && e.target.confirmpassword.value)){
                return e.preventDefault()
            }
            if(!(e.target.password.value !== e.target.confirmpassword.value)){
                alert('Password do not match')
                return e.preventDefault()
            }
        })
</script>